section
  section.sec-slide.text-left
    h3 Eu sou...
    ul
      li.fragment Full Stack Developer
      li.fragment Estudante de Informática no IFCE (<3)
      li.fragment Um entusiasta da web

  section.sec-slide

    h3 Desenvolvedor Front End
    hr
    img(src="img/chegola.svg", alt="Chego Lá")


  section.sec-slide

    h2 Vocês podem me achar...

    .col-3.fragment
      img(src="img/blog.png", alt="Meu Blog")
      p mabrasil.rocks
    .col-3.fragment
      img(src="img/gh.png", alt="Meu Github")
      p /mabrasil
    .col-3.fragment
      img(src="img/medium.png", alt="Minha conta na Medium")
      p @matheusalbuquerque
