section

	section.sec-slide
	
		h2 Sistemas de Controle de Versionamento Centalizados
		hr
		h2 Sistemas de Controle de Versionamento Distribuídos
		
	section.sec-slide
	
		h2 Centralizados
		
		ul
			li.fragment Único repositório central​
			li.fragment Cópias de trabalho são mantidas pelos desenvolvedores
			li.fragment Estrutura <i>Commit/Update</i>

	section.sec-slide
		
		h2 Centralizados
		
		img(src="img/operacoes_basicas_centralizado.png", alt="Sistemas de Controle de Versionamento Centalizados" width="50%")
		
	section.sec-slide
	
		h2 Centralizados
		
		.col-3.fragment
			img(src="img/cvs.jpeg", alt="CVS")
			p CVS
		.col-3.fragment
			img(src="img/subversion.png", alt="Subversion")
			p Subversion

	section.sec-slide
	
		h2 Distribuídos
		
		ul
			li.fragment Cada desenvolvedor mantem um repositório
			li.fragment Estrutura <i>Pull/push/commit</i>
			li.fragment Comunicação mínima através da rede, commits mais rápidos :)

	section.sec-slide
		
		h2 Distribuídos
		
		img(src="img/operacoes_basicas_distribuido.png", alt="Sistemas de Controle de Versionamento Distribuídos" width="50%")

	section.sec-slide
	
		h2 Distribuídos
		
		.col-3.fragment
			img(src="img/mercurial.png", alt="Mercurial")
			p Mercurial
		.col-3.fragment
			img(src="img/bazaar.png", alt="Bazaar")
			p Bazaar
		.col-3.fragment
			img(src="img/darcs.svg", alt="Darcs")
			p Darcs		