section.sec-slide.text-left
	h3.text-left Agenda
	ul
		li.fragment Controle de Versão?
		li.fragment Git
		li.fragment Github
		li.fragment Por onde começar?
		li.fragment A importância para o Mercado
		li.fragment Botando a mão na massa
