section
	
	section.sec-slide
	
		h1 Ao aprender a programar...
		
	section.sec-slide
		
		pre
			code.
				alert('Hello, World!')

		p hello-world.html
		
	section.sec-slide
		
		pre
			code.
				alert('Eu odeio química!');
				
		p hello-world-2.html
	
	section.sec-slide
		
		pre
			code.
				document.write(5 + 6);
				
		p hello-world-3.html
	
	section.sec-slide
		
		pre
			code.
				console.log(5 + 6);
				
		p hello-world-4.html
	
	section.sec-slide
		
		h1.primary ...	