section
  section.sec-slide.left
    h3 Eu sou...
    ul
      li.fragment Full Stack Developer
      li.fragment Estudante de Informática no IFCE (<3)
      li.fragment Um entusiasta da web

  section.sec-slide

    h3 Desenvolvedor Front End
    hr
    img(src="images/logos/chegola.svg", alt="Chego Lá")


  section.sec-slide

    h2 Vocês podem me achar...

    .col-3.fragment
      img(src="images/social/blog.png", alt="Meu Blog")
      p mabrasil.rocks
    .col-3.fragment
      img(src="images/social/twitter.png", alt="Meu Twitter")
      p @mabrasil_io
    .col-3.fragment
      img(src="images/social/gh.png", alt="Meu Github")
      p /mabrasil
