section
	section.sec-slide.text-left
		h3 Eu sou...
		ul
			li.fragment Full Stack Developer
			li.fragment Estudante de Informática no IFCE (<3)
			li.fragment Um entusiasta da web

	section.sec-slide
	
		h3 Desenvolvedor Front End
		hr
		img(src="img/chegola.svg", alt="Chego Lá")
		
	
	section.sec-slide
		h3 As vezes eu escrevo...
		a(href="http://mabrasil.rocks", target="_blank") mabrasil.rocks
		.fragment
			hr
			h4 E faço código open source também...
			a( href="http://github.com/mabrasil", target="_blank") github.com/mabrasil