section

  section.sec-slide

    img(src="images/systems/git.png", alt="Git")

  section.sec-slide(data-background="#93c47d")

    h1.white Filosofia

  section.sec-slide(data-background="#93c47d")

    p.white Tratar os dados como snapshots ;)


  section.sec-slide(data-background="#76a5af")

    h1.white Fluxo

  section.sec-slide(data-background="#76a5af")

    ul.white

      li.fragment Working Directory
      li.fragment HEAD
      li.fragment Index

  section.sec-slide(data-background="#8e7cc3")

    h1.white Alguns conceitos...

  section.sec-slide(data-background="#8e7cc3")

    ul.white

      li.fragment Branches
      li.fragment Merge
      li.fragment Clones
      li.fragment Pull
      li.fragment Push
      li.fragment Tags
      li.fragment Logs
      li.fragment Diffs
      li.fragment ...
