section

  section.sec-slide

    img(src="images/logos/github.png", alt="Github")

  section.sec-slide(data-background="images/gifs/party.gif")

    h1.white Coding goes social!

  section.sec-slide

    ul
      li.fragment Forking
      li.fragment Pull Requests
      li.fragment Issues e Issue Comments
      li.fragment Seguidores
      li.fragment Organizações
      li.fragment Times
      li.fragment ...
      li.fragment Octocat!

  section.sec-slide

    img(src="images/other/gangnamtocat.png", alt="Oppan Github Style", width="60%")
