section

  section.top.sec-slide(data-background="img/other/uncle-sam.jpg")

    h1.red I want you to Version Control your code!

  section.sec-slide

    img(src="img/other/cilada.svg", alt="É cilada, Bino!", width="70%")
