section

  section.top.sec-slide(data-background="images/other/uncle-sam.jpg")

    h1.secondary I want you to Version Control your code!

  section.sec-slide

    img(src="images/other/cilada.svg", alt="É cilada, Bino!", width="70%")
