section

  section.sec-slide(data-background="#2980b9")

    h1.white Vamos começar?

  section.sec-slide

    h2.blue Botando a mão na massa
    img(src="img/other/steroidtocat.png", alt="Ficar Monstro dos Open Source", width="70%")
