section

  section.sec-slide(data-background="#2980b9")

    h1.white Vamos começar?

  section.sec-slide

    h2.primary Botando a mão na massa
    img(src="images/other/steroidtocat.png", alt="Ficar Monstro dos Open Source", width="70%")
