section

  section.sec-slide(data-background="#2980b9")

    h1.white Mercado de Trabalho

  section.sec-slide(data-background="white")

    img(src="img/prints/print-1.png", alt="A importância para o Mercado")

  section.sec-slide(data-background="white")

    img(src="img/prints/print-2.png", alt="A importância para o Mercado")

  section.sec-slide(data-background="white")

    img(src="img/prints/print-3.png", alt="A importância para o Mercado")

  section.sec-slide(data-background="white")

    img(src="img/prints/print-4.png", alt="A importância para o Mercado")

  section.sec-slide(data-background="white")

    img(src="img/prints/print-5.png", alt="A importância para o Mercado")

  section.sec-slide(data-background="white")

    img(src="img/prints/print-6.png", alt="A importância para o Mercado")

  section.sec-slide(data-background="white")

    img(src="img/prints/print-7.png", alt="A importância para o Mercado")

  section.sec-slide(data-background="#8e7cc3")

    h1.white Só empresas pequenas?

  section.sec-slide(data-background="#c0392b")

    h1.white Nop ;)

  section.sec-slide(data-background="white")

    img(src="img/logos/gcom-logo.png", alt="A importância para o Mercado")

  section.sec-slide(data-background="white")

    img(src="img/prints/print-8.png", alt="A importância para o Mercado")

  section.sec-slide(data-background="#8e7cc3")

    h1.white Só empresas privadas?

  section.sec-slide(data-background="#c0392b")

    h1.white Nop ;)

  section.sec-slide(data-background="img/obama.gif")

  section.sec-slide(data-background="white")

    img(src="img/prints/governo.png", alt="Github Government")

    p <i>https://government.github.com/</i>

  section.sec-slide(data-background="#274e13")

    h1.white No Brasil...

  section.sec-slide

    ul
      li.fragment Departamento de Tecnologia da Informação do Banco Central do Brasil
      li.fragment Portal de Software Livre do Governo
      li.fragment Portal Brasileiro de Dados Abertos
      li.fragment Empresa de Tecnologia e Informações da Previdência Social (DATAPREV)
      li.fragment 20+

  section.sec-slide(data-background="img/gifs/happy.gif")
