section

	section.sec-slide(data-background="#2980b9")
		h1.white O que versionar?

	section.sec-slide
	
		ul
			li.fragment Trabalhos da Faculdade
			li.fragment Exemplos/Exercícios feitos
			li.fragment Arquivos/Projetos pessoais
			li.fragment Seu Portfólio :)