section
	section.sec-slide(data-background="#93c47d")
		
		h1.white Histórico

	section.sec-slide(data-background="#76a5af")
	
		h1.white Colaboração
		
	section.sec-slide(data-background="#8e7cc3")
		
		h1.white Variações no Projeto

	section.sec-slide
	
		ul
			li Acompanhar e fornecer controle de alterações no código fonte
			li Manter diferentes versões do mesmo código
			li Software desenvolvido de forma colaborativa :)	