doctype html
html
	include inc/head
	body
		.reveal
			.slides
				include ../slides/inicio
				include ../slides/eu
				include ../slides/agenda
				include ../slides/controle-de-versao-pergunta
				include ../slides/ensino-fundamental
		include inc/scripts
