doctype html
html
	include inc/head
	body
		.reveal
			.slides
				include ../slides/inicio
				include ../slides/eu
				include ../slides/agenda
				include ../slides/controle-de-versao-pergunta
				include ../slides/ensino-fundamental
				include ../slides/ao-aprender-a-programar
				include ../slides/tirinha
				include ../slides/ambientes
				include ../slides/principios
				include ../slides/i-want-you
				include ../slides/controle-de-versao-afirmacao
				include ../slides/versus
				include ../slides/torvalds
				include ../slides/git
				include ../slides/github
				include ../slides/o-que-versionar
				include ../slides/mercado
				include ../slides/mao-na-massa
				include ../slides/motivacao
				include ../slides/perguntas
				include ../slides/bye
		include inc/scripts
