doctype html
html
	include inc/head
	body
		.reveal
			.slides
				include ../slides/01-inicio
				include ../slides/02-eu
				include ../slides/03-agenda
				include ../slides/04-controle-de-versao-pergunta
				include ../slides/05-ensino-fundamental
				include ../slides/06-ao-aprender-a-programar
				include ../slides/07-tirinha
				include ../slides/08-ambientes
				include ../slides/09-principios
				include ../slides/10-i-want-you
				include ../slides/11-controle-de-versao-afirmacao
				include ../slides/12-versus
				include ../slides/13-torvalds
				include ../slides/14-git
				include ../slides/15-github
				include ../slides/16-o-que-versionar
				include ../slides/17-mercado
				include ../slides/18-mao-na-massa
				include ../slides/19-perguntas
				include ../slides/20-motivacao
				include ../slides/21-bye
		include inc/scripts
